# Git
.git
.gitignore

# IDE
.vscode
.idea

# Node
node_modules
.next
bun.lockb

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
venv
*.egg-info

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Docs
README.md
*.md

# Original files
RansomChat.py
RansomChatPyQt.py
Ransomchats-main